services:
  quake1:
    build: .
    image: ioq3-server
    container_name: quake1
    restart: unless-stopped
    ports:
      - "27960:27960/udp"
    volumes:
      - ./baseq3:/opt/quake3/baseq3
      - ./files/default-configs:/opt/quake3/default-configs
    environment:
      - SERVER_ARGS=+exec server.cfg +exec ${FFA_CONFIG} +exec ${MAPS_FFA}
      - FASTDL_URL=${FASTDL_URL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - SERVER_MOTD=${SERVER_MOTD}
  quake2:
    image: ioq3-server
    container_name: quake2
    restart: unless-stopped
    ports:
      - "27961:27960/udp"
    volumes:
      - ./baseq3:/opt/quake3/baseq3
      - ./osp:/opt/quake3/osp
      - ./files/default-configs:/opt/quake3/default-configs      
      - ./files/configs/osp:/opt/quake3/configs
    environment:
      - SERVER_ARGS=+set fs_game osp +exec ctf.cfg
      - FASTDL_URL=${FASTDL_URL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - SERVER_MOTD=${SERVER_MOTD}
  quake3:
    image: ioq3-server
    container_name: quake3
    restart: unless-stopped
    ports:
      - "27962:27960/udp"
    volumes:
      - ./baseq3:/opt/quake3/baseq3
      - ./missionpack:/opt/quake3/missionpack
      - ./files/default-configs:/opt/quake3/default-configs
    environment:
      - SERVER_ARGS=+set fs_game missionpack +exec server.cfg +exec ${Q3TA_CONFIG} +exec ${MAPS_Q3TA}
      - FASTDL_URL=${FASTDL_URL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - SERVER_MOTD=${SERVER_MOTD}

  fastdl:
    image: nginx:1.27-alpine
    container_name: fastdl
    ports:
      - "8080:80"
    volumes:
      - ./fastdl/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./fastdl/public:/usr/share/nginx/html:ro

  landing:
    build: ./landing
    image: ioq3-landing
    container_name: quake-landing
    depends_on:
      - quake1
      - quake2
      - quake3
    ports:
      - "80:3000"
    environment:
      PORT: 3000
      SERVERS_JSON: |
        [
          {"name": "FFA", "host": "quake1", "port": 27960, "displayPort": 27960},
          {"name": "OSP", "host": "quake2", "port": 27960, "displayPort": 27961},
          {"name": "Q3TA", "host": "quake3", "port": 27960, "displayPort": 27962}
        ]
